*{
    margin: 0;
    padding:0;
}

@font-face {
    font-family: "MuliBold";
    src: url(../assets/fonts/Muli-Bold.ttf);
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "MuliBoldItalic";
    src: url(../assets/fonts/Muli-BoldItalic.ttf);
    font-display: swap;
}
@font-face {
    font-family: "MuliExtraBold";
    src: url(../assets/fonts/Muli-ExtraBold.woff);
    font-display: swap;
    font-weight: 800;
}
@font-face {
    font-family: "MuliItalic";
    src: url(../assets/fonts/Muli-Italic.ttf);
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "MuliRegular";
    src: url(../assets/fonts/Muli-Regular.woff);
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "MuliSemiBoldItalic";
    src: url(../assets/fonts/Muli-Semi-BoldItalic.ttf);
    font-display: swap;
    font-weight: 600;
}
.header{
    height: 100vh;
    background-image: url(../assets/images/main-img.png);
    background-position: center;
    background-size: cover;
}

.container{
    max-width: 1720px;
    margin: 0 auto;
}

.header__top{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 100px;
    margin-bottom: 100px;
}
.menu__list{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu__item + .menu__item{
    margin-left: 45px;
}
.menu__link{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    font-family: "MuliBold";
}
.header__logo{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.social__item{
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.social__link{
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__column{
    display: flex;
    align-items: center;
}
.header__personal{
    margin-right: 135px;
}
.personal__list{
    display: flex;
}
.personal__item + .personal__item{
    margin-left: 45px;
}
.count__cart{
    position: absolute;
}
.social__list{
    display: flex;
}
.social__item + .social__item{
    margin-left: 35px;
}
.header-content{
    display: flex;
    justify-content: center;
}
.btn{
    font-weight: 800;
    font-size: 21px;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.header__btn{
    width: 280px;
    height: 70px;
    font-size: 24px;
    letter-spacing: -0.02em;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.btn--green{
    background-color: #0aa566;
}
.title{
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;    
    color: #f7ae3b;
}
.desc{
    font-family: 'MuliRegular';
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
}
.about{
    background-color: #188274;
}
.about__title{
    font-size: 55px;
    line-height: 60px;
    color: #ffffff;
}
.title--green{
    color: #cae941;
}
.about__btn{
    width: 382px;
    height: 63px;
    border: 2px solid #f8b231;
    background-color: transparent;
}


.products{
    display: flex;
    width: 480px;
    height: 720px;
}

.products__card-dark{
    background-color: #642e16;
}
.products__card-vegan{
    background-color: #158272;
}
.products__card-lemon{
    background-color: #fbac3b;
}
.products__card-turmeric{
    background-color: #c64720;
}
.products__btn{
    width: 207px;
    height: 63px;
    border: 2px solid #ffffff;
    background-color: transparent;
}











